body {
    font-family: 'Roboto', sans-serif; 
  background-color: #9A8C98;
  margin: 0;
  padding: 0;
  color: #F2E9E4;
}

.main {
    margin: 20px;
    background-color: #141b41;
    border-radius: 10px;

}

.main2 {
    margin: 20px;

}


.results {
    color: #F2E9E4;
    margin-top: 20px;
    padding-top: 20px;

}

.results1 {
    color: #141b41;
    margin-top: 20px;
    padding-top: 20px;

}

.names1 {
    margin-top: 0px;
}

.imageUploads {
    font-size: 20px;
    font-weight: 500px;
}

.symptoms {
    font-size: 20px;
    font-weight: 500px;
}

.firstname {
    display: flex;
}

.lastname {
    display: flex;
}

.space {
    color: #141b41
}

.birthday {
    display: flex;
}

.sex {
    display: flex;
}

.email {
    display: flex;
}

.phoneNumber {
    display: flex;
}

.medicareNumber {
    display: flex;
}

#continue {
    color: #f2e9e4;
    background-color: #9A8C98;
    font-family: "Roboto", sans-serif;
    margin: auto;
    letter-spacing: 0.05em;
    cursor: pointer;
    text-decoration: none;
    border: #C9ADA7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-left: 0px;
    margin-bottom: 30px;
}

.names {
    display: flex;
}